.fa-square-youtube{
    color: gray;
    transition: 1s;

}
.fa-square-youtube:hover{
    color: dimgray;
}
.Tooltip{
    position: relative;
}
.Tooltip>span{
    background-color: dimgray;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 6px 8px #ccc;
    position: absolute;
    top: 30px;
    left: 110px;
    display: none;
}
.Tooltip:hover span{
    display: block;
}
.Tooltip>span::before{
    content: "";
    border: 10px;
    border: 10px;
    border-style: solid;
    border-color: transparent dimgray transparent transparent;
    position: absolute;
    left: -20px;
}